.profileContent{
    box-shadow: 0 0 10px;
    margin: 25px;
    padding: 10px;
    text-align: center;
}
.profileImg{
    text-align: center;
    align-items: center;
    border-radius: 50%;
    height:100px;
}