.profileContent{
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    margin: 25px;
    padding: 10px;
    text-align: center;
}
.profileImg{
    text-align: center;
    align-items: center;
    border-radius: 50%;
    height:100px;
}